
  <div class="modal-header">
      <p>
        <h2><strong>Title:</strong>
        <%= @article.title %> </h2>
      </p>
      
  </div>
  <h3>
      <strong>Text:</strong>
      <%= @article.text %>
    </h3>

  <h4>Comentarios</h4>
  <div id="modalbody" class="modal-body" >
    
    
    
    <%= render @article.comments %>
  
    <h2>Añadir comentario:</h2>
    <%= render 'comments/form' %>
    
  </div> 

  <div class="modal-footer">
    <%= link_to 'Editar', edit_article_path(@article), :class => 'btn btn-secondary' %> |
    <%= link_to 'Regresar', articles_path, :class => 'btn btn-danger ' %>
  </div>
</div>