
  <div class="modal-header">
    <p>
        <strong>Title:</strong>
        <%= @article.title %>
      </p>
  </div>

  <div class="modal-body">
    
    <p>
      <strong>Text:</strong>
      <%= @article.text %>
    </p>

    <h2>Comentarios</h2>
    <%= render @article.comments %>
    
    <h2>Añadir comentario:</h2>
    <%= render 'comments/form' %>
    
  </div> 

  <div class="modal-footer">
    <%= link_to 'Editar', edit_article_path(@article) %> |
    <%= link_to 'Regresar', articles_path %>
  </div>
</div>